.autocomplete-root {
    background-color: white;
    position: absolute;
    margin: 8px 0 8px 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    z-index: 1000;
    left: 50%;
    top: 10%;
    transform: translate(-50%,-10%);
    width: 392px;
}

.searchbox {
    width: 90%;
    margin: auto;
    display: block;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 8px;
    font: inherit;
    padding: 0px 10px;
}

.autocomplete-dropdown-container {
    border-radius: 8px;
    font-family: Arial,sans-serif;
    font-size: 16px;
    overflow: hidden;
    padding: 0px 10px;
}

@media (max-width: 600px) {
    .autocomplete-root {
     width: 80%;
    }
  }